:root {
    /* === Grayscale === */
    --pure-black: #000000;
    --dark-gray: #121920;
    --middark-gray: #2C3943;
    --middle-gray: #4B5F70;
    --midlight-gray: #C2D3E1;
    --light-gray: #E6EEF5;
    --pure-white: #ffffff;

    /* === Main colors === */
    --primary-dark: #1D2831;
    --light-primary-dark: #2e3e4c;

    --dark-green-water: #149980;
    --green-water: #54B3A2;
    --light-green-water: #B5E8CF;

    --dark-red-alert: #C52C2C;
    --red-alert: #E94444;
    --light-red-alert: #FF7575;

    --dark-brown-earth: #BC582A;
    --brown-earth: #D18647;
    --light-brown-earth: #FEBA9D;
    
    --dark-yellow-sand: #FFA73E;
    --yellow-sand: #D2BE93;
    --light-yellow-sand: #F4E1AD;
}
